@use '../base' as *;

footer {

    background-color: $bg-greyish;

    > div {
        width: 75%;
        padding: 2rem 0.5rem 1rem 0.5rem;
        margin-inline: auto;
        border-bottom: 0.1rem solid $bg-light;
        @include flexCenter($direction: row, $justify: space-between);
        
        ul {
            margin-block: 1rem;

            li {
                margin-inline: 1.5vw;
            }
        }
    }

    p {
        height: 40%;
        padding-block: 1rem 2rem;
    }
}

