$dark-textcolor: #333;
$light-textcolor: #666;
$bright-textcolor: #fff;

$bg-light: hsl(0, 0%, 100%);
$bg-greyish: rgba(212, 212, 212, 0.5);
$bg-dark: rgba(153, 153, 153, .2);

$themecolor-orange: rgb(255, 99, 71);
$themecolor-dark: rgb(3, 3, 43);

$btn-color: rgb(255, 99, 71, .9);

$success-green: rgb(10, 120, 10);

$border-dark: #333;
$border-light: hsla(0, 0%, 50%, 0.453);



