@use 'colors' as *;


::selection {
    background: $dark-textcolor;
    color: $bright-textcolor;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 400;
    font-size: clamp(2.4rem, 5vw, 4rem);
}

h2 {
    font: clamp(2rem, 2.5vw, 3.5rem) 'DM Serif Display', serif;
}

h3 {
    font: clamp(1.8rem, 3.8vw, 5rem) 'DM Serif Display', serif;
    letter-spacing: 1px;
}

h4 {
    font: clamp(1.2rem, 2.8vw, 3.5rem) 'DM Serif Display', serif;
    letter-spacing: 1px;
}

h5 {
    font-weight: 400;
    font-size: clamp(.8rem, 1.5vw, 2rem);
}

a {
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p,
a,
.btn,
.custom-select-label,
.custom-select-option {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
}

footer {

    a {
        font-size: clamp(.8rem, 1.3vw, 1.5rem);
    }

    p {
        text-align: center;
        font-size: clamp(0.7rem, .9vw, 1.3rem);
    }
}

.nav-link,
p,
label,
h1,
h2,
main .btn,
.custom-select-label {
    color: $dark-textcolor;
}

main .btn {
    letter-spacing: 1px;
    font-weight: 500;
}

.btn:focus-visible {
    color: $bright-textcolor;
}

#sidemenu {

    a {
        color: $bright-textcolor;
        font-weight: 500;
    }

    a:hover,
    a:active {
        color: $themecolor-orange;
    }
}

#menu {

    a {
        letter-spacing: .05em;
        font-weight: 500;
    }
}

/* Google Fonts */

//DM Serif Display
  @font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmserifdisplay/v15/-nFnOHM81r4j6k0gjAW3mujVU2B2G_Bx0vrx52g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
//Montserrat 400 + 500
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }