@import 'variables';
@import 'mixins';


header {

    background-color: rgb(211, 211, 211);

    #header_container {

        @include flexCenter($direction: row, $justify: space-between);
        padding: 2rem;

        nav {
            @include flexCenter($direction: row, $justify: flex-end);
            width: 80%;

            > * {
                margin-inline: 1rem;
            }

            #lang_container {
                background-color: green;
                width: 3rem;
                height: 1.5rem;
            }

            #menu {
                scroll-behavior: smooth;

                a {
                    padding-inline: 1rem;
                    letter-spacing: 1px;
                    font-weight: 500;
                    transition: color 0.3s ease;
                    color: #333;
                }

                a:hover {
                    color: tomato;
                }
            }
        }
    }

    #burger {
        display: none;
    }

}