@import 'variables';
@import 'mixins';

#header_container {

    @include flexCenter($direction: row, $justify: space-between);
    padding: max(2%, 1.5svh);
    background-color: lightgrey;

    #logo {
        height: 2.2rem;
    }

    nav {
        @include flexCenter($direction: row, $justify: flex-end);
        width: 80%;

        #lang_container {
            width: 3rem;
            height: 1.5rem;
        }

        #menu,
        #menu>* {
            margin-inline: 1rem;
        }

        #menu {

            a {
                padding-inline: .9rem;
                letter-spacing: 1px;
                font-weight: 500;
                transition: color 0.3s ease;
                color: #333;
            }

            a:hover {
                color: tomato;
            }
        }
    }


}



#sidemenu,
#burger {
    display: none;
}