@import 'variables';

@mixin flexCenter($direction, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: center;
    flex-direction: $direction;
}

@mixin socialLinks() {

    &:nth-child(1) {
        background: url(../img/linkedin.svg) 0 0 no-repeat;
    }

    &:nth-child(2) {
        background: url(../img/github.svg) 0 0 no-repeat;
    }

    &:nth-child(3) {
        background: url(../img/mail.svg) 0 0 no-repeat;
    } 
}