@use './base' as *;
@use './components' as *;
@use './layouts/index' as *;
@use './utlities' as *;
@use './vendor/reset' as *;

@include devices (bigScreen) {


    .scroll_down {
        background: url(../img/icons/scroll-down_touch.svg);
        background-size: cover;
    }

    .scroll_down svg {
        display: none;
    }

    .card-col {
        display: block;
        width: 100%;
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .about_sec {
        @include flexCenter($direction: column);
    }

}

@include devices (smallScreen) {

    #header_container {
        background-color: $bg-greyish;
        padding: .5svh 3.5%;
    }

    #header_container #logo {
        background: transparent url('../img/pics/logo.png');
        background-size: cover;
        @include box(5.6rem, 2.3rem);
        min-height: fit-content;
    }

    #welcome_wrapper {
        @include box(100%, fit-content);
        max-height: fit-content;

        #me {
            width: 100%;
            transform: inherit;
            box-shadow: inherit;

            &+div {
                position: absolute;
                top: inherit;
                bottom: 8%;
                left: 5%;
                color: $bg-light;
            }
        }
    }

    #menu {
        display: none;
    }

    #burger {
        display: block;
        @include box(2rem, 1.6rem);
        position: relative;
        padding-top: 1px;
        -webkit-user-select: none;
        user-select: none;
        z-index: 5;
    }

    #burger input {
        display: block;
        @include box(2rem, 1.6rem);
        z-index: 5;
        position: relative;
        cursor: pointer;
        opacity: 0;
    }

    #burger span {
        display: block;
        @include box(2rem, 4px);
        margin-bottom: 5px;
        top: -1.6rem;
        position: relative;

        background: #333;
        border-radius: 3px;

        z-index: 4;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #burger span:first-child {
        transform-origin: 0% 0%;
    }

    #burger span:nth-last-child(2) {
        transform-origin: 100% 0%;
    }

    #burger input:checked~span {
        opacity: 1;
        transform: rotate(-45deg) translate(-2px, -1px);
        background: $bg-light;
    }

    #burger input:checked~span:nth-last-child(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #burger input:checked~span:nth-last-child(3) {
        transform: rotate(45deg) translate(2px, 0);
    }

    footer>div {
        flex-direction: column;
    }
}

@include reduce (false) {
    @include effects(bounceInLeft, 1s, 1s);
    @include effects(bounceInRight, 1.5s, 1.5s);
    @include effects(fadeIn, 0s, 1s);
    @include effects(fadeInDown, 0s, 1.5s);
}